<div class="register-container">
  <div class="background-overlay"></div>

  <div class="register-content">
    <div class="register-card-wrapper">
      <nz-card class="register-card" [nzBordered]="false">
        <div class="logo-section">
          <img src="assets/images/logo/clarisa-plano.png" alt="Clarisa Logo" class="logo-img">
        </div>
        <div class="system-header">
          <h3>Crear nueva cuenta en Puntos Clarisa</h3>
          <p>Regístrate y comienza a gestionar tus referidos</p>
        </div>

        <nz-alert
          *ngIf="errorMessage"
          [nzMessage]="errorMessage"
          nzType="error"
          nzCloseable
          nzShowIcon
          (nzOnClose)="clearError()"
          class="error-alert">
        </nz-alert>

        <nz-spin [nzSpinning]="isLoading" nzTip="Creando cuenta...">
          <form nz-form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">

            <!-- Nombres y Apellidos en una fila -->
            <div class="form-row">
              <nz-form-item class="form-item-half">
                <nz-form-control [nzErrorTip]="firstNameErrorTemplate">
                  <input
                    nz-input
                    formControlName="firstName"
                    placeholder="Nombres"
                    id="firstName"
                    autocomplete="given-name"
                    nzSize="large"
                    class="register-input">

                  <ng-template #firstNameErrorTemplate let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Los nombres son requeridos
                    </ng-container>
                    <ng-container *ngIf="control.hasError('minlength')">
                      Los nombres deben tener al menos 2 caracteres
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="form-item-half">
                <nz-form-control [nzErrorTip]="lastNameErrorTemplate">
                  <input
                    nz-input
                    formControlName="lastName"
                    placeholder="Apellidos"
                    id="lastName"
                    autocomplete="family-name"
                    nzSize="large"
                    class="register-input">

                  <ng-template #lastNameErrorTemplate let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Los apellidos son requeridos
                    </ng-container>
                    <ng-container *ngIf="control.hasError('minlength')">
                      Los apellidos deben tener al menos 2 caracteres
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="form-row">
              <nz-form-item class="form-item-half">
                <nz-form-control [nzErrorTip]="identityTypeErrorTemplate">
                  <nz-select
                    formControlName="identityType"
                    nzPlaceHolder="Tipo de identidad"
                    nzSize="large"
                    class="register-select">
                    <nz-option
                      *ngFor="let type of identityTypes"
                      [nzValue]="type.value"
                      [nzLabel]="type.label">
                    </nz-option>
                  </nz-select>

                  <ng-template #identityTypeErrorTemplate let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Selecciona el tipo de identidad
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="form-item-half">
                <nz-form-control [nzErrorTip]="identityNumberErrorTemplate">
                  <input
                    nz-input
                    formControlName="identityNumber"
                    placeholder="Número de identidad"
                    id="identityNumber"
                    autocomplete="off"
                    nzSize="large"
                    class="register-input">

                  <ng-template #identityNumberErrorTemplate let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      El número de identidad es requerido
                    </ng-container>
                    <ng-container *ngIf="control.hasError('pattern')">
                      Formato de identidad no válido
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="form-row">
              <nz-form-item class="form-item-half">
                <nz-form-control [nzErrorTip]="emailErrorTemplate">
                  <input
                    nz-input
                    formControlName="email"
                    placeholder="Correo electrónico"
                    id="email"
                    autocomplete="email"
                    type="email"
                    nzSize="large"
                    class="register-input">

                  <ng-template #emailErrorTemplate let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      El correo electrónico es requerido
                    </ng-container>
                    <ng-container *ngIf="control.hasError('email')">
                      Ingresa un correo electrónico válido
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="form-item-half">
                <nz-form-control [nzErrorTip]="phoneErrorTemplate">
                  <input
                    nz-input
                    formControlName="phone"
                    placeholder="Teléfono (10 dígitos)"
                    id="phone"
                    autocomplete="tel"
                    type="tel"
                    nzSize="large"
                    class="register-input">

                  <ng-template #phoneErrorTemplate let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      El teléfono es requerido
                    </ng-container>
                    <ng-container *ngIf="control.hasError('pattern')">
                      El teléfono debe tener 10 dígitos
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="form-row">
              <nz-form-item class="form-item-half">
                <nz-form-control [nzErrorTip]="passwordErrorTemplate">
                  <nz-input-group nzSize="large">
                    <input
                      nz-input
                      [type]="passwordVisible ? 'text' : 'password'"
                      formControlName="password"
                      placeholder="Contraseña"
                      id="password"
                      autocomplete="new-password"
                      nzSize="large"
                      class="register-input">
                    <i
                      nz-icon
                      [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                      (click)="togglePasswordVisibility()"
                      class="password-toggle">
                    </i>
                  </nz-input-group>

                  <ng-template #passwordErrorTemplate let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      La contraseña es requerida
                    </ng-container>
                    <ng-container *ngIf="control.hasError('minlength')">
                      La contraseña debe tener al menos 6 caracteres
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="form-item-half">
                <nz-form-control [nzErrorTip]="confirmPasswordErrorTemplate">
                  <nz-input-group nzSize="large">
                    <input
                      nz-input
                      [type]="confirmPasswordVisible ? 'text' : 'password'"
                      formControlName="confirmPassword"
                      placeholder="Confirmar contraseña"
                      id="confirmPassword"
                      autocomplete="new-password"
                      nzSize="large"
                      class="register-input">
                    <i
                      nz-icon
                      [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
                      (click)="toggleConfirmPasswordVisibility()"
                      class="password-toggle">
                    </i>
                  </nz-input-group>

                  <ng-template #confirmPasswordErrorTemplate let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Confirma tu contraseña
                    </ng-container>
                    <ng-container *ngIf="control.hasError('passwordMismatch')">
                      Las contraseñas no coinciden
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>

            <nz-form-item>
              <nz-form-control>
                <button
                  nz-button
                  nzType="primary"
                  nzSize="large"
                  nzBlock
                  [nzLoading]="isLoading"
                  [disabled]="!registerForm.valid || isLoading"
                  class="register-btn"
                  type="submit">
                  Crear cuenta
                </button>
              </nz-form-control>
            </nz-form-item>

            <nz-divider nzText="O" nzOrientation="center" class="register-divider"></nz-divider>
            <div class="register-links">
              <p class="login-text">
                ¿Ya tienes una cuenta?
                <i nz-icon nzType="login" nzTheme="outline"></i>
                <a (click)="navigateToLogin()" class="login-link"> Inicia sesión aquí</a>
              </p>
            </div>
          </form>
        </nz-spin>
      </nz-card>
    </div>
  </div>
</div>
