<div class="card tabla-card">
  <p>Total de referidos: {{ totalReferidos }}</p>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Estado</th>
        <th>Nombre</th>
        <th>Asesor</th>
        <th>Recomendado por</th>
        <th>Correo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ref of referidos">
        <td>{{ ref.id }}</td>
        <td><app-estado [estado]="ref.estado"></app-estado></td>
        <td>{{ ref.nombre }}</td>
        <td>{{ ref.asesor }}</td>
        <td>{{ ref.recomendado }}</td>
        <td>{{ ref.correo }}</td>
      </tr>
    </tbody>
  </table>
</div>
