.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../assets/images/backgrounds/imagen-login-clarisa.jpg');
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  z-index: 1;
}
